/*======================================== CONSTS */

:root {
    --nav-height: 3.75rem;
}

/*======================================== HIDE SCROLL */
* {
    flex: 0 0 auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*======================================== CLASS STYLES */

html,
body {
    display: initial;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#main {
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    color: #FFF;
}
#landing nav {
    height: var(--nav-height);
}
#results_section {
    margin-top: var(--nav-height);
    min-height: calc(100vh - var(--nav-height));
}
#results {
    height: 90%;
}

.launch_card {
    width: 60vw;
    height: 60vh;
    background-color: rgba(30, 30, 30, .5);
}

.truncate {
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*======================================== PLANET */

canvas {
    display: initial;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    width: 100vw;
    height: 100vh;
    background-color: black;
}


/*======================================== CLOCK STYLE */


:root{
    --font-clock-size: 0.875rem;
}

#clock_container{
    height: calc(var(--font-clock-size));
    overflow: hidden;
    font-size: 0.875rem;
}

.clock_column,
.clock_colon {
	display: inline-block;
	vertical-align: top;
	font-size: var(--font-clock-size);
	line-height: var(--font-clock-size);
    margin: 0;
    padding: 0;
}

.clock_column {
	transition: transform 500ms;
}

.clock_colon {
	transition: transform 500ms;
	
	&:after {
		content: ':';
	}
}

.clock_num {
	transition: opacity 500ms;
    opacity: 0;
    margin: 0;
	
	&.visible {
		opacity: 1;
        padding: 0;
	}
}